# Web3Auth Client ID — this is a demo Sapphire Devnet project, get your own at https://dashboard.web3auth.io
NEXT_PUBLIC_WEB3AUTH_CLIENT_ID=BHgArYmWwSeq21czpcarYh0EVq2WWOzflX-NTK-tY1-1pauPzHKRRLgpABkmYiIV_og9jAvoIxQ8L3Smrwe04Lw
