@import "tailwindcss";
@plugin "@iconify/tailwind4";
@plugin "daisyui";

.container {
  max-width: 1200px;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --depth: 0;
}
